.invis {
  display: none;
}

.vis:hover .invis {
  display: inline;
  font-size: 16px;
}

.strikeThrough{
  text-decoration: line-through;
}

.listItemText{
  display: inline-block;
  padding: 2px 10px 2px 2px;
}
